<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>StaffDashbord_applications_list</title>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="./lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./lib/bootstrap-table.min.css">
	<script src="./lib/jquery.min.js"></script>
	<script src="./lib/popper.min.js"></script>
	<script src="./lib/bootstrap.min.js"></script>
	<script src="./lib/bootstrap-table.min.js"></script>
	<script src="./js/app.js"></script>

</head>

<body>
	<div class="container-fluid px-0">	

		<header class="sticky-top">
			<!-- 01 Navbar -->
			<nav class="navbar navbar-expand-lg bg-success navbar-dark py-0">
				<!-- Brand and collapse-icon -->
				<div class="order-1 d-inline-flex py-2">
					<button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand ml-2 ml-xl-0 ml-lg-0 mr-2" href="#Staff Dashboard">Brand</a>
				</div>
				<!-- nav-Links -->
				<div class="collapse navbar-collapse order-3 order-lg-2 " id="collapsibleNavbar">
					<ul class="navbar-nav nav">
						<li class="nav-item">
							<a class="nav-link text-white" href="applications_list.html">Applications</a>
						</li>
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" id="navbardrop" >Manage</a>
							<ul class="dropdown-menu bg-success py-0">
								<li class="nav-item">
									<a class="dropdown-item text-white" href="manage_team_progress.html">Team</a>
								</li>
								<li class="nav-item">
									<a class="dropdown-item text-white" href="#">Report</a>
								</li>
								<li class="nav-item">
									<a class="dropdown-item text-white" href="#">Timeslot</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="#">Admin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="#">
								Notification<span class="badge badge-info">4</span>
							</a>
						</li>
					</ul>
				</div>
				<!--  nav-right -->
				<div class="text-white order-2 order-lg-3">
					<div class="d-flex justify-content-end">
						<div class="border-left py-2 col-auto">
							<i class="fa fa-globe fa-2x text-white mr-2 align-middle" aria-hidden="true"></i>
							<select class="bg-success text-white border-0" ng-model="selectedLanguage">
								<option name="selectedLanguage" value="English">English</option>
								<option name="selectedLanguage" value="T.Chinese">T.Chinese</option>
								<option name="selectedLanguage" value="S.Chinese">S.Chinese</option>
							</select>
						</div>
						<div class="d-inlink-flex border-left pt-2 col-auto mr-3">
							<div class="float-left mr-3 bg-white text-success border border-circle p-1">
								<span for="">CW</span>
							</div>
							<!-- <i class="fa fa-user-circle-o text-white mr-1 mt-1 fa-2x align-middle" aria-hidden="true"></i> -->
							<!-- <img class="img-circle" src="img/loginPic.svg"/> -->
							<span class="float-left" ng-model="username">Chrismrs Wong</span>
						</div>
					</div>
				</div>
			</nav>
			<!-- 01 Navbar end-->
		</header>


        <main class="container-fluid py-3">
			
			<div class="row">
				<!-- summary -->
				<div class="col-12 col-lg-4 pr-lg-2 pr-xl-2 mb-3">
					<div class="card bg-white h-100">
						<div class="card-header bg-white text-success font-weight-bold pl-3">
							My Summary
						</div>
						<div class="card-body px-3">
							<label for="">Pending CCC allocation</label>
							<label class="font-weight-bold mx-3" for=""> 23 </label>
							<a href="#">View</a><br>

							<label for="">Pending for handing</label>
							<label class="font-weight-bold mx-3" for=""> 17 </label>
							<a href="#">View</a><br>
						</div>
					</div>
				</div>
				<!-- summary end-->

				<!-- Search -->
				<div class="col-12 col-lg-8 pl-lg-2 pl-xl-2 mb-3">
					<div class="card bg-white h-100">
						<div class="card-header bg-white text-success font-weight-bold pl-3">
							Search
						</div>
						<form class="card-body px-3">

							<div class="row">
								<div class="form-group col-12 col-lg-6 pr-lg-2">
									<label class="control-label border-0 pl-0" for="">Application Number:</label>
									<input class="form-control pl-3" type="text" placeholder="">
								</div>
								<div class="form-group col-12 col-lg-6 pl-lg-2 pl-xl-2">
									<label class="control-label border-0 pl-0" for="">Status:</label>
									<select class="form-control" ng-model="selectedStatus">
										<option name="selectedStatus" value="English">All status</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-12 col-lg-6 pr-lg-2">
									<label class="control-label border-0 pl-0" for="">Customer Name:</label>
									<input class="form-control pl-3" type="text" placeholder="">
								</div>
								<div class="form-group col-12 col-lg-6 pl-lg-2 pl-xl-2">
									<label class="control-label border-0 pl-0" for="">Customer ID:</label>
									<input class="form-control pl-3" type="text" placeholder="">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-12 col-lg-6 pr-lg-2">
									<label class="control-label border-0 pl-0" for="">Business Centre:</label>
									<select class="form-control" ng-model="selectedCentre">
										<option name="selectedCentre" value="AllBusinessBankingCentres">All Business Banking Centres</option>
										<option name="selectedCentre" value="Centre">Centre</option>
										<option name="selectedCentre" value="MongKok">Mong Kok</option>
									</select>
								</div>
								<div class="form-group col-12 col-lg-6 pl-lg-2">
									<label class="control-label border-0 pl-0" for="">BBO Assigned:</label>
									<select class="form-control" ng-model="selectedCentre">
										<option name="selectedCentre" value="Centre">Aaron</option>
										<option name="selectedCentre" value="Beatrice">Beatrice</option>
										<option name="selectedCentre" value="Candy">Candy</option>
										<option name="selectedCentre" value="Danny">Danny</option>
									</select>
								</div>
							</div>
							<div class="row px-3">
								<button class="btn btn-outline-success col-md-2 offset-md-10" type="submit" >Search</button>
							</div>
						</form>
					</div>
				</div>
				<!-- Search end -->
			</div>
			
			<div class="row">
				<div class="col h-100">
					<!-- Application -->
					<div class="card bg-white">
						<div class="card-header bg-white text-success font-weight-bold pl-3">
							Application
						</div>
						<div class="card-body px-3 pt-3">
							<!-- table-button -->
							<div class="d-flex justify-content-end mb-3">
								<button class="btn btn-outline-success" type="submit" data-toggle="modal" data-target="#AssignModal">Assign Call Agent</button>
								<!-- AssignModal -->
								<div class="modal fade" id="AssignModal" data-backdrop="static">
									<div class="modal-dialog modal-sm">
										<div class="modal-content">
											<!-- modal-body -->
											<div class="modal-body">
												<label for="">Assign the 4 cases to</label><br>
												<select class="col-12" ng-model="selectedCentre">
													<option name="selectedCentre" value="Centre">Aaron</option>
													<option name="selectedCentre" value="Beatrice">Beatrice</option>
													<option name="selectedCentre" value="Candy">Candy</option>
													<option name="selectedCentre" value="Danny">Danny</option>
												</select>
											</div>
											<!-- modal-footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-outline-success" onclick="SetMentionBox('AssignModal','ToastBox')">Save</button>
											</div>
										</div>
									</div>
								</div>
								<!--  Mention Toast -->
								<div aria-live="polite" id="ToastBox" aria-atomic="true" data-autohide="false" style="display: none;position: fixed;top: 0; right: 0;padding: 35px;z-index: 4415;border: 1px solid darkgray;background: white;">
									<div class="toast">
										<div class="toast-body">
											Save successful !
										</div>
									</div>
								</div>
								
							</div>
							<!-- table-button end -->
							
							<!-- table-responsive -->
							<div class="table-responsive">
								<table class="col-12 table table-striped table-hover px-0"  
									   data-toggle="table" data-pagination="true">
									<thead>
										<tr>
										<th scope="col"></th>
										<th scope="col" data-sortable="true" data-field="id">ID</th>
										<th scope="col" data-sortable="true" data-field="type">Type</th>
										<th scope="col" data-sortable="true" data-field="entityType">Entity Type</th>
										<th scope="col" data-sortable="true" data-field="companyName">Company Name</th>
										<th scope="col" data-sortable="true" data-field="customerId">Customer ID</th>
										<th scope="col" data-field="category">Category</th>
										<th scope="col" data-field="status">Status</th>
										<th scope="col" data-field="remark">Remark</th>
										<th scope="col" data-sortable="true" data-field="appointmentDate">Appointment Date & Time</th>
										<th scope="col" data-field="confirmedVenue">Confirmed Venue</th>
										<th scope="col" data-field="handlingCallAgent">Handling Call Agent</th>
										<th scope="col" data-field="taskDueDate">Task Due Date</th>
										<th scope="col" data-field="documentLastUploadDate">Document Last Upload Date</th>
										<th scope="col" data-field="lastModifiedDate">Last Modified Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>NTB</td>
											<td>Corporate</td>
											<td>Happy House Ltd.</td>
											<td>3777388225</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td class="align-middle text-center">
												<a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus" 
													data-content="<br> Customer ID <br> 28882888 <br><br> 
																  Remarks <br> Some remarks content <br><br> 
																  Document Last Uploaded Date <br> 31 Dec 2020 <br><br> 
																  Contact Person <br> Johnny Chan <br><br> 
																  Contact Number <br> 852 3999 8833<br><br>"
												>
													<i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
													<!-- <img class="" src="./img/info.svg" height="25"> -->
												</a>
											</td>
											<td>30 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>Partnership</td>
											<td>HABC Limited</td>
											<td>3777388220</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>29 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>	
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>NPO</td>
											<td>Pacific Coffee Ltd.</td>
											<td>3777388221</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>26 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>NTB</td>
											<td>Corporate</td>
											<td>Happy House Ltd.</td>
											<td>3777388222</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td class="align-middle text-center">
												<a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus" 
													data-content="<br> Customer ID <br> 28882888 <br><br> 
																  Remarks <br> Some remarks content <br><br> 
																  Document Last Uploaded Date <br> 31 Dec 2020 <br><br> 
																  Contact Person <br> Johnny Chan <br><br> 
																  Contact Number <br> 852 3999 8833<br><br>"
												>
													<i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
													<!-- <img class="" src="./img/info.svg" height="25"> -->
												</a>
											</td>
											<td>05 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>Partnership</td>
											<td>HABC Limited</td>
											<td>3777388223</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>	
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>NPO</td>
											<td>Pacific Coffee Ltd.</td>
											<td>3777388224</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>NTB</td>
											<td>Corporate</td>
											<td>Happy House Ltd.</td>
											<td>3777388222</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td class="align-middle text-center">
												<a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus" 
													data-content="<br> Customer ID <br> 28882888 <br><br> 
																	Remarks <br> Some remarks content <br><br> 
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br> 
																	Contact Person <br> Johnny Chan <br><br> 
																	Contact Number <br> 852 3999 8833<br><br>"
												>
													<i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
													<!-- <img class="" src="./img/info.svg" height="25"> -->
												</a>
											</td>
											<td>05 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>Partnership</td>
											<td>HABC Limited</td>
											<td>3777388223</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>	
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>NPO</td>
											<td>Pacific Coffee Ltd.</td>
											<td>3777388224</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>NTB</td>
											<td>Corporate</td>
											<td>Happy House Ltd.</td>
											<td>3777388222</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td class="align-middle text-center">
												<a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus" 
													data-content="<br> Customer ID <br> 28882888 <br><br> 
																	Remarks <br> Some remarks content <br><br> 
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br> 
																	Contact Person <br> Johnny Chan <br><br> 
																	Contact Number <br> 852 3999 8833<br><br>"
												>
													<i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
													<!-- <img class="" src="./img/info.svg" height="25"> -->
												</a>
											</td>
											<td>05 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>Partnership</td>
											<td>HABC Limited</td>
											<td>3777388223</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>	
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>NPO</td>
											<td>Pacific Coffee Ltd.</td>
											<td>3777388224</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>NTB</td>
											<td>Corporate</td>
											<td>Happy House Ltd.</td>
											<td>3777388222</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td class="align-middle text-center">
												<a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus" 
													data-content="<br> Customer ID <br> 28882888 <br><br> 
																	Remarks <br> Some remarks content <br><br> 
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br> 
																	Contact Person <br> Johnny Chan <br><br> 
																	Contact Number <br> 852 3999 8833<br><br>"
												>
													<i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
													<!-- <img class="" src="./img/info.svg" height="25"> -->
												</a>
											</td>
											<td>05 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>Partnership</td>
											<td>HABC Limited</td>
											<td>3777388223</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>	
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>NPO</td>
											<td>Pacific Coffee Ltd.</td>
											<td>3777388224</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>NTB</td>
											<td>Corporate</td>
											<td>Happy House Ltd.</td>
											<td>3777388222</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td class="align-middle text-center">
												<a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus" 
													data-content="<br> Customer ID <br> 28882888 <br><br> 
																	Remarks <br> Some remarks content <br><br> 
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br> 
																	Contact Person <br> Johnny Chan <br><br> 
																	Contact Number <br> 852 3999 8833<br><br>"
												>
													<i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
													<!-- <img class="" src="./img/info.svg" height="25"> -->
												</a>
											</td>
											<td>05 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>Partnership</td>
											<td>HABC Limited</td>
											<td>3777388223</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>	
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>NPO</td>
											<td>Pacific Coffee Ltd.</td>
											<td>3777388224</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>NTB</td>
											<td>Corporate</td>
											<td>Happy House Ltd.</td>
											<td>3777388222</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td class="align-middle text-center">
												<a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus" 
													data-content="<br> Customer ID <br> 28882888 <br><br> 
																	Remarks <br> Some remarks content <br><br> 
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br> 
																	Contact Person <br> Johnny Chan <br><br> 
																	Contact Number <br> 852 3999 8833<br><br>"
												>
													<i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
													<!-- <img class="" src="./img/info.svg" height="25"> -->
												</a>
											</td>
											<td>05 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>Partnership</td>
											<td>HABC Limited</td>
											<td>3777388223</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>	
										</tr>
										<tr>
											<td scope="row"><input type="checkbox" value=""></td>
											<td><a href="applications_change_log.html">288828888</a></td>
											<td>ETB</td>
											<td>NPO</td>
											<td>Pacific Coffee Ltd.</td>
											<td>3777388224</td>
											<td>Pending - CCC</td>
											<td>Pending CCC allocation</td>
											<td></td>
											<td>31 Dec 2020 11:30</td>
											<td>Sheung Wan</td>
											<td>Aaron Cheung</td>
											<td>12 Dec 2020</td>
											<td>30 Dec 2020</td>
											<td>30 Dec 2020</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- table-responsive end -->
							
						</div>
					</div>
					<!-- Application end-->
				</div>
			</div>	

        </main>
		
	</div>
</body>
</html>