<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>StaffDashbord_Manage_TeamProgress</title>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="./lib/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
	<script src="./lib/jquery.min.js"></script>
	<script src="./lib/popper.min.js"></script>
	<script src="./lib/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="./lib/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="./lib/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>-->


</head>

<body>
	<div class="cover-container">	

		<!-- 01 Navbar -->
		<nav class="navbar navbar-expand-lg sticky-top bg-success navbar-dark py-0">
            <!-- Brand and collapse-icon -->
            <div class="order-1 d-inline-flex py-2">
                <button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand ml-2 ml-xl-0 ml-lg-0 mr-2" href="#Staff Dashboard">Brand</a>
            </div>
            <!-- nav-Links -->
            <div class="collapse navbar-collapse order-3 order-lg-2 " id="collapsibleNavbar">
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="applications_list.html">Applications</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" id="navbardrop" >Manage</a>
                        <ul class="dropdown-menu bg-success py-0">
                            <li class="nav-item">
                                <a class="dropdown-item text-white" href="manage_team_progress.html">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item text-white" href="#">Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item text-white" href="#">Timeslot</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">
                            Notification<span class="badge badge-info">4</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--  nav-right -->
            <div class="text-white order-2 order-lg-3">
                <div class="d-flex justify-content-end">
                    <div class="border-left py-2 col-auto">
                        <!--<img src="img/globe.svg"/>-->
                        <i class="fa fa-globe fa-2x text-white mr-2 align-middle" aria-hidden="true"></i>
                        <select class="bg-success text-white border-0" ng-model="selectedLanguage">
                            <option name="selectedLanguage" value="English">English</option>
                            <option name="selectedLanguage" value="T.Chinese">T.Chinese</option>
                            <option name="selectedLanguage" value="S.Chinese">S.Chinese</option>
                        </select>
                    </div>
                    <div class="d-inlink-flex border-left pt-2 col-auto mr-3">
                        <div class="float-left mr-3 bg-white text-success border border-circle p-1">
                            <span for="">CW</span>
                        </div>
                        <!-- <i class="fa fa-user-circle-o text-white mr-1 mt-1 fa-2x align-middle" aria-hidden="true"></i> -->
                        <!-- <img class="img-circle" src="img/loginPic.svg"/> -->
                        <span class="float-left" ng-model="username">Chrismrs Wong</span>
                    </div>
                </div>
            </div>
        </nav>
        <!-- 01 Navbar end-->


        <main class="container-fluid py-3">
            <!-- 71000 manage_team_progress_page -->
            <div class="row px-3 mb-3">
                <a href="#">In Progress</a>
                <a class="ml-3" href="#">Completed</a>
            </div>

            <div class="row">
                <!-- Filter -->
                <div class="order-last order-xl-first order-lg-first col-12 mb-3">
                    <div class="card bg-white h-100">
                        <div class="card-header bg-white text-success font-weight-bold pl-3">
                            Filter
                        </div>
                        <form class="card-body px-3 pt-3">
                            <div class="row">
                                <div class="col-lg-5 d-lg-inline-flex px-0">
                                    <div class="col-12 col-lg-6 pr-lg-2 mb-3">
                                    	<div class="px-3 border rounded">
    	                                    <label class="control-label border-0 pl-0" for="">Type of Application:</label><br>
    	                                    <div class="row">
	    	                                    <label class="checkbox-inline col-5 col-xl-5 col-lg-12"><input type="checkbox">NTB</label>
	    	                                    <label class="checkbox-inline col-5 col-xl-5 col-lg-12"><input type="checkbox">ETB</label>
    	                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 px-lg-2">
                                    	<div class="px-3 border rounded mb-3">
    	                                    <label class="control-label border-0 pl-0" for="">Type of RP:</label><br>
    	                                    <div class="row">
	    	                                    <label class="checkbox-inline col-5 col-xl-5 col-lg-12"><input type="checkbox">RP</label>
	    	                                    <label class="checkbox-inline col-5 col-xl-6 col-lg-12"><input type="checkbox">Non-PR</label>
    	                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 d-lg-inline-flex px-0">
                                    <div class="col-12 col-lg-7 px-lg-2 mb-3">
                                        <div class="px-3 border rounded">
                                            <label class="control-label border-0 pl-0" for="">Appointment Date:</label><br>
                                            <div class="row">
	                                            <label class="col-5 col-xl-5 col-lg-12" type="text">From: 02/25/2019</label>
	                                            <label class="col-5 col-xl-5 col-lg-12" type="text">To: 02/25/2019</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-5 pl-lg-2">
                                        <div class="px-3 border rounded mb-3">
                                            <label class="control-label border-0 pl-0" for="">Type of RP:</label><br>
                                            <div class="row">
	                                            <label class="checkbox-inline col-5 col-xl-5 col-lg-12"><input type="checkbox">RP</label>
	                                            <label class="checkbox-inline col-5 col-xl-5 col-lg-12"><input type="checkbox">Non-PR</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3">
                                <button class="btn btn-outline-success col-md-2 offset-md-10" type="submit" >Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Filter end -->
            </div>

            <div class="row">
                <div class="col h-100">
                    <!-- table -->
                    <div class="card bg-white">
                        <div class="card-header bg-white text-success font-weight-bold pl-3">
                            Table
                        </div>
                        <div class="card-body px-3 pt-0">

                            <!-- table-responsive -->
                            <table class="col-12 table table-striped table-hover table-responsive px-0">
                                <thead class="thead-light">
                                    <tr>
                                    <th scope="col">Application ID</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Assigned To</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">BBO Assigned Date</th>
                                    <th scope="col">aaa</th>
                                    <th scope="col">Application ID</th>
                                    <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>28881888</td>
                                        <td>Pending CCC allocation</td>
                                        <td>Chan Tai Man</td>
                                        <td>Not assigned</td>
                                        <td>12 Dec 2019</td>
                                        <td>Not assigned</td>
                                        <td>28881888</td>
                                        <td>Pending CCC allocation</td>
                                        <td>Chan Tai Man</td>
                                    </tr>
                                    <tr>
                                        <td>28881888</td>
                                        <td>Pending Customer</td>
                                        <td>Chan Tai Man</td>
                                        <td>Not assigned</td>
                                        <td>12 Dec 2019</td>
                                        <td>12 Mar 2020</td>
                                        <td>28881888</td>
                                        <td>Pending CCC allocation</td>
                                        <td>Chan Tai Man</td>
                                    </tr>
                                    <tr>
                                        <td>28881888</td>
                                        <td>Pending Customer</td>
                                        <td>Chan Tai Man</td>
                                        <td>Aaron</td>
                                        <td>12 Dec 2019</td>
                                        <td>12 Mar 2020</td>
                                        <td>28881888</td>
                                        <td>Pending CCC allocation</td>
                                        <td>Chan Tai Man</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- table-responsive end -->
                            
                            <!-- Pagination -->
                            <nav aria-label="Page navigation">
                                <label class="float-left" for="">Showing 1 to 10 of 57 entries</label>
                                <ul class="pagination float-right">
                                    <li class="page-item">
                                        <a class="page-link text-success" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link text-success" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link text-success" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link text-success" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link text-success" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- Pagination end -->
                        </div>
                    </div>
                    <!-- table end-->
                </div>
            </div>	
            <!-- 71000 manage_team_progress_page end-->
        </main>
		
	</div>
</body>
</html>

<script type="text/javascript">
	 $(document).ready(function () {
	 	dropdownOpen();
	 	$(document).off('click.bs.dropdown.data-api');
	 	
//	 	$('.form_date').datetimepicker({
//	        language:  'fr',
//	        weekStart: 1,
//	        todayBtn:  1,
//			autoclose: 1,
//			todayHighlight: 1,
//			startView: 2,
//			minView: 2,
//			forceParse: 0
// 		 });
    });

	 /**
	 * 鼠标划过就展开子菜单，免得需要点击才能展开
	 */
	 function dropdownOpen() {
	 	var $dropdownLi = $('li.dropdown');
	 	var $dropdownMenu = $('ul.dropdown-menu');
	 	$dropdownLi.mouseover(function() {
	 		$dropdownMenu.addClass('d-block');
	 	}).mouseout(function() {
	 		$dropdownMenu.removeClass('d-block');
	 	});
	 }
	
</script>