<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>StaffDashbord_Manage_TeamProgress</title>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="./lib/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
	<script src="./lib/jquery.min.js"></script>
	<script src="./lib/popper.min.js"></script>
	<script src="./lib/bootstrap.min.js"></script>
	<script src="./js/app.js"></script>

</head>

<body>
	<div class="container-fluid px-0">	

		<header class="sticky-top">
		    <!-- 01 Navbar -->
    		<nav class="navbar navbar-expand-lg bg-success navbar-dark py-0">
                <!-- Brand and collapse-icon -->
                <div class="order-1 d-inline-flex py-2">
                    <button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand ml-2 ml-xl-0 ml-lg-0 mr-2" href="#Staff Dashboard">Brand</a>
                </div>
                <!-- nav-Links -->
                <div class="collapse navbar-collapse order-3 order-lg-2 " id="collapsibleNavbar">
                    <ul class="navbar-nav nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="applications_list.html">Applications</a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" id="navbardrop" >Manage</a>
                            <ul class="dropdown-menu bg-success py-0">
                                <li class="nav-item">
                                    <a class="dropdown-item text-white" href="manage_team_progress.html">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item text-white" href="#">Report</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item text-white" href="#">Timeslot</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">
                                Notification<span class="badge badge-info">4</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--  nav-right -->
                <div class="text-white order-2 order-lg-3">
                    <div class="d-flex justify-content-end">
                        <div class="border-left py-2 col-auto">
                            <!--<img src="img/globe.svg"/>-->
                            <i class="fa fa-globe fa-2x text-white mr-2 align-middle" aria-hidden="true"></i>
                            <select class="bg-success text-white border-0" ng-model="selectedLanguage">
                                <option name="selectedLanguage" value="English">English</option>
                                <option name="selectedLanguage" value="T.Chinese">T.Chinese</option>
                                <option name="selectedLanguage" value="S.Chinese">S.Chinese</option>
                            </select>
                        </div>
                        <div class="d-inlink-flex border-left pt-2 col-auto mr-3">
                            <div class="float-left mr-3 bg-white text-success border border-circle p-1">
                                <span for="">CW</span>
                            </div>
                            <!-- <i class="fa fa-user-circle-o text-white mr-1 mt-1 fa-2x align-middle" aria-hidden="true"></i> -->
                            <!-- <img class="img-circle" src="img/loginPic.svg"/> -->
                            <span class="float-left" ng-model="username">Chrismrs Wong</span>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- 01 Navbar end-->
		</header>


        <main class="container-fluid py-3">
            <div class="row">
                <!-- Search -->
                <div class="order-last order-xl-first order-lg-first col-12 mb-3">
                    <div class="card bg-white h-100">
                        <div class="card-header bg-white text-success font-weight-bold pl-3">
                            Search
                        </div>
                        <form class="card-body px-3 pt-3">
                            <div class="row">
                                <div class="col-12 col-lg-2 pr-lg-2 mb-3">
                                    <div class="border pt-2">
                                        <label class="control-label border-0 col-12" for="">Progess:</label>
                                        <div class="row pl-3">
                                            <label class="radio-inline col-6 col-lg-12 "><input type="radio">In Progress</label>
                                            <label class="radio-inline col-6 col-lg-12"><input type="radio">Completed</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2 px-lg-2 mb-3">
                                    <div class="border pt-2">
                                        <label class="control-label border-0 col-12" for="">Type of RP:</label>
                                        <div class="row pl-3">
                                            <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">RP</label>
                                            <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">Non-PR</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 d-lg-inline-flex px-0">
                                    <div class="col-12 col-lg-4 px-lg-2 mb-3">
                                        <div class="border pt-2">
                                            <label class="control-label border-0 col-12" for="">Type of Application:</label>
                                            <div class="row pl-3">
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">NTB</label>
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">ETB</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 px-lg-2 mb-3">
                                        <div class="border pt-2">
                                            <label class="control-label border-0 col-12" for="">Appointment Date:</label>
                                            <div class="row pl-3">
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">From 02/25/2019</label>
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">To  02/25/2019</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 pl-lg-2 mb-3">
                                        <div class="border pt-2">
                                            <label class="control-label border-0 col-12" for="">Completed Date:</label>
                                            <div class="row pl-3">
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">From:  02/25/2019</label>
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox">To:  02/25/2019</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3">
                                <button class="btn btn-outline-success col-md-2 offset-md-10" type="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Search end -->
            </div>

            <div class="row">
                <div class="col h-100">
                    <!-- Results -->
                    <div class="card bg-white">
                        <div class="card-header bg-white text-success font-weight-bold pl-3">
                            Results
                        </div>
                        <div class="card-body px-3 pt-3">

                            <div class="text-danger text-center border p-5">
                                <label>No Record was found.</label>
                            </div>

                        </div>
                    </div>
                    <!-- Results end-->
                </div>
            </div>	
        </main>
		
	</div>
</body>
</html>