<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>StaffDashbord_Manage_Team_Progress</title>
  
    <link href="./lib/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap4-table/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/datepicker/angular-moment-picker.min.css">
    <link rel="stylesheet" href="css/app.css">
    
	<script src="./lib/jquery.min.js"></script>
	<script src="./lib/popper.min.js"></script>
    <script src="./lib/bootstrap4/bootstrap.min.js"></script>
    <script src="./lib/bootstrap4-table/bootstrap-table.min.js"></script>   
    
    
    <script src="./lib/angularjs1.6.4/angular.min.js"></script>
    <script src="./lib/datepicker/moment.js"></script>
    <script src="./lib/datepicker/angular-moment-picker.min.js"></script>
    
    <script src="./js/app.js"></script>

</head>

<body ng-app="myApp">
	<div class="container-fluid px-0">	
        <header class="sticky-top" ng-controller="headerCtrl">
                <!-- 01 Navbar -->
            <nav class="navbar  bg-primary navbar-dark py-0 navbar-expand-sm navbar-dark mb-3">
                <!-- Brand and collapse-icon -->
                <div class="order-1 d-inline-flex py-2">
                    <button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand mx-2 ml-xl-0 mr-lg-3" href="#Staff Dashboard">Staff Dashboard</a>
                </div>
                <!-- nav-Links -->
                <div class="collapse navbar-collapse order-3 order-lg-2 " id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"> <a class="nav-link" href="applications_list.html">Applications</a> </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Manage</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="manage_team_progress.html">Team Progress</a>
                                <a class="dropdown-item" href="#">Timeslot</a>
                                <a class="dropdown-item" href="#">MI Report</a>
                            </div>
                        </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Admin</a> </li>
                        <li class="nav-item"> <a class="nav-link d-flex align-items-center" href="#">Notification <span class="ml-1 badge badge-info badge-pill">520</span></a> </li>
                    </ul>
                </div>
                <!--  nav-right -->
                <div class="text-white order-2 order-lg-3">
                    <div class="col-auto mr-3">
                        <!-- <img src="img/avatar.jpg" class="rounded-circle" width="35" height="35" alt="Responsive image"> -->
                        <i class="far fa-user fa-lg"></i> 
                        <span ng-bind="fullUserName"></span>
                    </div>
                </div>
            </nav>
                <!-- 01 Navbar end-->
        </header>
        <main class="container-fluid">
            <div class="row">
                <h5 class="p-1 ml-3">TEAM PROGRESS</h5>
            </div>
            <div class="row">
                <!-- Search -->
                <div class="order-last order-xl-first order-lg-first col-12 mb-3" ng-controller="manageTeamProgressSearchCtrl">
                    <div class="card bg-white h-100">
                        <form class="card-body px-3 pt-3">
                            <h5 class="card-title">Search</h5>
                            <div class="row">
                                <div class="col-12 col-lg-2 pr-lg-2 mb-3">
                                    <div class="border pt-2">
                                        <label class="control-label border-0 col-12" >Progess:</label>
                                        <div id="ProgressRadio" class="row pl-3 mt-2">
                                            <label class="radio-inline col-6 col-lg-12"><input type="radio" ng-model="progess" name="radioBtn" value="InProgress" ng-checked="true">&nbsp;In Progress</label>
                                            <label class="radio-inline col-6 col-lg-12"><input type="radio" ng-model="progess" name="radioBtn" value="Completed">&nbsp;Completed</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2 px-lg-2 mb-3">
                                    <div class="border pt-2">
                                        <label class="control-label border-0 col-12" >Type of RP:</label>
                                        <div class="row pl-3 mt-2">
                                            <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox" ng-model="typeOfRP" name="checkBtn" value="RP" ng-checked='ischeckedRP'>&nbsp;RP</label>
                                            <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox" ng-model="typeOfRP" name="checkBtn" value="Non-PR" ng-checked='ischeckedRP'>&nbsp;Non-PR</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 d-lg-inline-flex px-0">
                                    <div class="col-12 col-lg-4 px-lg-2 mb-3">
                                        <div class="border pt-2">
                                            <label class="control-label border-0 col-12" >Type of Application:</label>
                                            <div class="row pl-3 mt-2">
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox" ng-model="typeOfApplication" name="checkBtn1" value="NTB" ng-checked='ischeckedAppli'>&nbsp;NTB</label>
                                                <label class="checkbox-inline col-6 col-lg-12"><input type="checkbox" ng-model="typeOfApplication" name="checkBtn1" value="ETB" ng-checked='ischeckedAppli'>&nbsp;ETB</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 px-lg-2 mb-3">
                                        <div class="border pt-2">
                                            <label class="control-label border-0 col-12">Appointment Date:</label>
                                            <div class="row pl-3">
                                                
                                                <!-- datepicker -->
                                                <div class="col-6 col-lg-12 d-inline-flex">
                                                    <label class="mr-1">From</label>
                                                    <input class="form-control h-75 mr-3" 
                                                        placeholder="Please select a date"
                                                        moment-picker="ctrl1.timepicker"
                                                        ng-model="appointmentDateStart"
                                                        format="MM/DD/YYYY"
                                                        ng-model-options="{ updateOn: 'blur' }"
                                                        show-header="true">
                                                </div>
                                                <div class="col-6 col-lg-12 d-inline-flex">
                                                    <label class="mr-3">To&nbsp;</label>
                                                    <input class="form-control h-75 mr-3" 
                                                        placeholder="Please select a date"
                                                        moment-picker="ctrl2.timepicker"
                                                        ng-model="appointmentDateEnd"
                                                        format="MM/DD/YYYY"
                                                        ng-model-options="{ updateOn: 'blur' }"
                                                        show-header="true">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 pl-lg-2 mb-3">
                                        <div class="border pt-2">
                                            <label class="control-label border-0 col-12" for="">Completed Date:</label>
                                            <div id="CompletedDateBox" class="row pl-3">
                                                <!-- datepicker -->
                                               <div class="col-6 col-lg-12 d-inline-flex">
                                                    <label class="mr-1">From</label>
                                                    <input class="form-control h-75 mr-3" 
                                                        moment-picker="ctrl3.timepicker"
                                                        placeholder="Please select a date"
                                                        ng-model="completedDateStart"
                                                        format="MM/DD/YYYY"
                                                        ng-model-options="{ updateOn: 'blur' }"
                                                        ng-disabled = true
                                                        show-header="true">
                                                </div>
                                                <div class="col-6 col-lg-12 d-inline-flex">
                                                    <label class="mr-3">To&nbsp;</label>
                                                    <input class="form-control h-75 mr-3" 
                                                        placeholder="Please select a date"
                                                        moment-picker="ctrl4.timepicker"
                                                        ng-model="completedDateEnd"
                                                        ng-disabled = true
                                                        format="MM/DD/YYYY"
                                                        ng-model-options="{ updateOn: 'blur' }"
                                                        show-header="true">
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3d -flex justify-content-end">
                                <button type="button" class="btn btn-primary mr-3">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Search end -->
            </div>

            <div class="row">
                <div class="col h-100">
                    <!-- Results -->
                    <div class="card bg-white">
                        <div class="card-body px-3">
                            <h5 class="card-title mr-auto">Results</h5>
                            <!-- table-responsive -->
                            <div class="table-responsive">
                                <table class="col-12 table table-hover px-0 text-center"
                                       id="progress_table"
                                       data-toggle="table" data-pagination="true"
                                       data-url="json/manage_tm_progress.json">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-sortable="true" data-field="handlingStaff">Handling Staff</th>
                                            <th scope="col" data-sortable="true" data-field="pendingCustomers">Pending -Customers</th>
                                            <th scope="col" data-sortable="true" data-field="pendingBBO">Pending -BBO</th>
                                            <th scope="col" data-sortable="true" data-field="pendingCM">Pending -CM</th>
                                            <th scope="col" data-sortable="true" data-field="pendingSD">Pending -SD</th>
                                            <th scope="col" data-sortable="true" data-field="pendingBA">Pending -BA</th>
                                            <th scope="col" data-sortable="true" data-field="pendingMaintenance">Pending Maintenance</th>
                                            <th scope="col" data-sortable="true" data-field="totalNo">Total No. of Pending Case</th>
                                            <th scope="col" data-sortable="true" data-field="averageAgingTime">Average Aging Time (days)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- table-responsive end -->
                        </div>
                    </div>
                    <!-- Results end-->
                </div>
            </div>	
        </main>
        <!-- footer -->
        <footer class="py-5">
            <p class="text-center">2019 - 2020 Hang Seng Staff Dashboard</p>
        </footer>
	</div>
</body>
</html>