<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>

	<link rel="stylesheet" type="text/css" href="./lib/bootstrap4/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./lib/bootstrap4-table/bootstrap-table.min.css">
	<link rel="stylesheet" type="text/css" href="./lib/datepicker/angular-moment-picker.min.css">
	<link rel="stylesheet" href="css/app.css">

	<script src="./lib/bootstrap4/jquery.min.js"></script>
	<script src="./lib/bootstrap4/popper.min.js"></script>
    <script src="./lib/bootstrap4/bootstrap.min.js"></script>
    <script src="./lib/bootstrap4-table/bootstrap-table.min.js"></script>   
    
    
    <script src="./lib/angularjs1.6.4/angular.min.js"></script>
    <script src="./lib/datepicker/moment.js"></script>
    <script src="./lib/datepicker/angular-moment-picker.min.js"></script>
    <script src="./js/app.js"></script>
</head>

<body ng-app="myApp">
	<div class="container-fluid">	
		
		<!-- header -->
		<header class="sticky-top bg-primary row pl-3 mb-3" ng-controller="headerCtrl">
			<nav class="navbar navbar-dark col-12 col-sm-8 navbar-expand-md">
				<!-- Brand and collapse-icon -->
				<div class="">
					<button class="navbar-toggler px-2 mr-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand mr-2" href="#">Staff Dashboard</a>
				</div>
				<!-- nav-Links -->
				<div class="collapse navbar-collapse  " id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" href="application_list.html">Applications</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop" >Manage</a>
							<ul class="dropdown-menu py-0">
								<li class="nav-item">
									<a class="dropdown-item text-dark" href="manage_team_progress.html">Team</a>
								</li>
								<li class="nav-item">
									<a class="dropdown-item text-dark" href="#">Report</a>
								</li>
								<li class="nav-item">
									<a class="dropdown-item text-dark" href="#">Timeslot</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Admin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="notification.html">
								Notification<span class="badge badge-info mx-1">518</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<!--  nav-right -->
			<div class="text-white my-3 col-12 col-sm-4 text-md-right">
				<div class="col-auto">
					<img src="img/user-solid.svg" class="rounded-circle" height="20" alt="Responsive image">
					<span ng-bind="fullUserName"></span>
				</div>
			</div>
		</header>
			
		
		<main class="container-fluid">
			<div class="row">
				<!-- content left -->
				<div class="col-12 col-lg-3 mb-3 px-0 pr-lg-3" ng-controller="bodyleftCtrl">


					<!-- Application Id -->
					<div class="card bg-secondary text-white">
						<div class="card-header font-weight-bold pl-3 mt-2 d-flex border-bottom-0">
							<a class="mr-3" href="application_list.html">
								<div class="pt-2" id="arrow_back">
									<img src="img/arrow-left-solid.svg" height="30" alt="Responsive image">
									<img src="img/arrow-left-solid-hover.svg" height="30" alt="Responsive image">
								</div>
							</a>
							<label class="">Application ID<br>
								<h3>28882888 
									<span class="cursor" data-toggle="modal" data-target="#remarkModal" id="AppliId_icon">
										<img src="img/comment-empty-transparent.svg" height="20" alt="Responsive image">
										<img src="img/comment-empty.svg" height="20" alt="Responsive image">											
									</span>
								</h3>
							</label>
						</div>
						<div class="card-body px-3 pt-0">
							<dl>
								<dt>
									Status
								</dt>
								<dd>
									Rejected 
									<span class="cursor" data-toggle="modal" data-target="#reactStatusModal" id="Rejected_icon">
										<img src="img/comment-attention.svg" height="17" alt="Responsive image">
										<img src="img/comment-filled.svg" height="17" alt="Responsive image">
									</span>
								</dd>
								<dt>Appointment</dt>
								<dd>31 Dec 2018, 13:30, Central</dd>
								<dt>Assigned To</dt>
								<dd class="">Ben Wong</dd>
								<dt>Risk Rating</dt>
								<dd>
									<span class="badge badge-warning mr-1">Medium</span>
									<span class="cursor" id="refresh_icon">
										<img src="img/refresh-solid.svg" height="17" alt="Responsive image">
										<img src="img/refresh-hollow.svg" height="17" alt="Responsive image">
									</span>
									<!-- <dd class="badge badge-danger">High</dd>
										<dd class="badge badge-info">Undetermined</dd> -->
								</dd>
								<dt>Adjusted Risk Rating</dt>
								<dd>
									<span class="badge badge-success mr-1">Low</span>
									<span class="cursor" id="edit_icon">
										<img src="img/edit-solid.svg" height="17" alt="Responsive image">
										<img src="img/edit-hollow.svg" height="17" alt="Responsive image">
									</span>
								</dd>
							</dl>
						</div>
					</div>
					<!-- ApplicationID Remark Modal -->
					<div class="modal fade" id="remarkModal" tabindex="-1" role="dialog" aria-labelledby="remarkModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable" role="document">
							<div class="modal-content">
								<div class="modal-header border-bottom-0">
									<h5 class="modal-title" id="remarkModalLabel">Remark</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div>
										<h6>Ben Wong <span class="float-right">31 Dec 2019 23:59</span></h6>
										<p>This customer cannot understand Chinese.</p>
									</div>
									<div class="mt-4">
										<h6>Andy Chau <span class="float-right">1 Jan 2020 23:59</span></h6>
										<p>Yes he can understand.</p>
									</div>
									<div class="mt-4">
										<h6>Write a comment</h6>
										<textarea class="form-control" id="message-text" rows="5"></textarea>
									</div>
								</div>
								<div class="modal-footer border-top-0">
									<button type="button" class="btn btn-success px-4 m-auto " data-dismiss="modal" >Post</button>
								</div>
							</div>
						</div>
					</div>
					<!-- ApplicationID status-rejected Modal -->
					<div class="modal fade" id="reactStatusModal" tabindex="-1" role="dialog" aria-labelledby="reactStatusModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header border-bottom-0">
								<h5 class="modal-title" id="reactStatusModalLabel">View Reject Reason</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<dl>
										<dt>Rejection Date</dt>
										<dd class="mb-2">11/3/2019</dd>
										<dt>Rejection Staff</dt>
										<dd class="mb-2">7629207500</dd>
										<dt>Rejection Category </dt>
										<dd class="mb-2">Hit - DNOA</dd>
										<dt>Rejection Reason  </dt>
										<dd class="mb-2">As above.</dd>
										<dt>Under Enhanced Onboarding Programme</dt>
										<dd class="mb-2">Yes</dd>
										<dt>Customer have Hong Kong Nexus</dt>
										<dd class="mb-2">No</dd>
									</dl>
								</div>
								<div class="modal-footer border-top-0">
									<button type="button" class="btn btn-outline-dark px-4 m-auto " data-dismiss="modal" >Close</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Application Id end -->


					<!-- Checklist -->
					<div class="card bg-secondary my-3  text-light">
						<div class="card-body">
							<h5 class="card-title">Checklist</h5>
							<form>
								<div class="form-check">
									<label class="form-check-label">
										<input type="checkbox" class="form-check-input" value="">Option 1
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input type="checkbox" class="form-check-input" value="">Option 2
									</label>
								</div>
								<div class="form-check disabled">
									<label class="form-check-label">
										<input type="checkbox" class="form-check-input" value="" disabled>Option 3
									</label>
								</div>
							</form>
						</div>
					</div>
					<!-- Checklist end -->
				
				
					<!-- change status -->
					<div class="card bg-secondary text-light">
						<div class="card-body px-3">
							<h5 class="card-title">Change Status To</h5>
							<button type="button" class="btn col-12 btn-primary btn-block">Under Review by CM</button>
							<button type="button" class="btn col-12 btn-primary btn-block" data-toggle="modal" data-target="#confirmReactModal">BBO Processing (Reactivate)</button>
							<!-- <button type="button" class="btn col-12 btn-primary btn-block disabled">Move Forward diabled</button>
							<button type="button" class="btn col-12 btn-outline-primary btn-block">Follow up button</button>
							<button type="button" class="btn col-12 btn-outline-primary btn-block">Follow up button</button>
							<button type="button" class="btn col-12 btn-outline-primary btn-block">Follow up button</button> -->
							<a href="reject.html" class="mt-2 d-block">
								<button type="button" class="btn col-12 btn-warning btn-block" >Reject</button>
							</a>
							<!-- <button type="button" class="btn col-12 btn-warning btn-block">Cancel</button> -->
						</div>
					</div>
					<!-- confirm Reactivate Application Modal -->
					<div class="modal fade" id="confirmReactModal" tabindex="-1" role="dialog" aria-labelledby="confirmReactModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<h5 class="modal-title" id="confirmReactModalLabel">Reactivate Application</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body mb-5">
										Are you sure you want to reactivate this application?
								</div>
								<div class="modal-footer border-top-0">
									<button type="button" class="btn btn-outline-dark px-4" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-success px-4" data-dismiss="modal" ng-click="ReactivateToastClick()">Reactivate</button>
								</div>
							</div>
						</div>
					</div>
					<!-- toast Message -->
					<div class="toast bg-info fixed-top w-75 mr-sm-3 py-2"  id="ReactivateToast" data-autohide="true" data-animation="true" data-delay="1500">
							<div class="toast-header bg-info">
								<button type="button" class="ml-auto mb-1 close" data-dismiss="toast">&times;</button>
							</div>
							<div class="toast-body text-light pt-0" ng-bind="toastContent2"></div>
					</div>
					<!-- change status end-->

				</div>
				<!-- content left end -->



				<!-- content right -->
				<div class="col-lg-9">
					
					<!-- sub-nav -->
					<div class="row mb-3">
						<div class="col-12 px-0">
							<nav class="navbar navbar-expand-sm bg-secondary navbar-dark mb-3">
								<ul class="navbar-nav">
									<li class="nav-item active"> <a class="nav-link" href="#">Form</a> </li>
									<li class="nav-item"> <a class="nav-link" href="#">Documents</a> </li>
									<li class="nav-item"> <a class="nav-link" href="#">Appointment</a> </li>
									<li class="nav-item"> <a class="nav-link" href="#">Changes</a> </li>
									<li class="nav-item"> <a class="nav-link" href="#">Archival</a> </li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- sub-nav end -->

					<!-- main body title -->
					<div class="row">
						<div class="col-12 d-flex px-0 mb-3">
							<h5 class="mr-auto">Application Form
								<span class="cursor" data-toggle="modal" data-target="#commentModal">
									<img src="img/comment-empty.svg" height="20" alt="Responsive image">
								</span>
							</h5>
							<button class="btn btn-default text-success py-0" type="submit">
								<span class="cursor" data-toggle="modal" data-target="#saveModal">
									<img src="img/save.svg" height="20" alt="Responsive image">
								</span>
								Save
							</button>
							<select class="form-control col-2" ng-model="selectedLanguage">
								<option name="selectedLanguage" value="English">English</option>
								<option name="selectedLanguage" value="TChinese">T.Chinese</option>
								<option name="selectedLanguage" value="SChinese">S.Chinese</option>
							</select>

						</div>
					</div>
					<!-- main body title end -->

					<!-- Application Form body -->
					<div class="row">

						<!-- Application Form # tab -->
						<div class="col-lg-12" id="attenBtns">
							<span class="badge m-1 cursor badge-primary" data-id="1" data-index="2">#COMP002</span>
							<span class="badge m-1 cursor badge-primary" data-id="1" data-index="4">#COMP004</span>
							<span class="badge m-1 cursor badge-primary" data-id="1" data-index="3">#COMP003</span>
							<span class="badge m-1 cursor badge-primary" data-id="2" data-index="3">#CONT003</span>
							<span class="badge m-1 cursor badge-warning" data-id="5" data-index="1">#PROD228 Endorse Needed</span>
						</div>
						
						<div class="col-lg-12 my-1">
							<!-- Application Form section tab -->
							<div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="nav-A-tab" data-toggle="tab" href="#nav-A" role="tab" aria-controls="nav-A" aria-selected="true" >A. Company Details</a>
								<a class="nav-item nav-link" id="nav-B-tab" data-toggle="tab" href="#nav-B" role="tab" aria-controls="nav-B" aria-selected="false">B. Contact Details</a>
								<a class="nav-item nav-link" id="nav-C-tab" data-toggle="tab" href="#nav-C" role="tab" aria-controls="nav-C" aria-selected="false">C. Details of Connected Parties</a>
								<a class="nav-item nav-link" id="nav-D-tab" data-toggle="tab" href="#nav-D" role="tab" aria-controls="nav-D" aria-selected="false">D. Business Details</a>
								<a class="nav-item nav-link" id="nav-E-tab" data-toggle="tab" href="#nav-E" role="tab" aria-controls="nav-E" aria-selected="false">E. Products & Services Details</a>
							</div>

							<div class="tab-content" id="nav-tabContent">
								<!--  Section A body-->
								<div class="tab-pane fade show active" id="nav-A" role="tabpanel" aria-labelledby="nav-A-tab">
									<!-- <div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">AAA:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">bbb:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">ccc:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
										<label for="recipient-name" class="col-form-label">ccc:</label>
										<input type="text" class="form-control"   value="7629207500">
									</div>
									<p>-------------------------------------------</p> -->
									
									<form>
										<h4 class="card-title">Section title</h4>

										<div class="form-group">
											<label>1. Select the most relevant key financial data for the business</label> 
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="optradio" checked>Annual revenue
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="optradio">Asset size
												</label>
											</div>
										</div>

										<div class="form-group">
											<label>2. Risk Rating</label>
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<input class="form-control" type="text" placeholder="Medium">
										</div>

										<div class="form-group">
											<label for="">3. Adjusted Risk Rating</label>
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/question.svg" height="16" alt="Responsive image"></a>
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<select class="form-control">
												<option value="">Please Select</option>
												<option value="1">SCC</option>
												<option value="2">High</option>
												<option value="3">option 3</option>
												<option value="4">option 4 is very very very very very very very very very very very very very very very very very very very very very very very very very very very long</option>
											</select>
										</div>

										<button class="btn btn-link" type="submit">
											<img class="mr-1 mb-1" src="img/plus.svg" height="16" alt="Responsive image">Add
										</button>
										<button class="btn btn-link" type="submit">
											<img class="mr-1 mb-1" src="img/minus.svg" height="16" alt="Responsive image">Delete
										</button>
									
										<div class="form-group">
											<label>4. Countries with an existing relationship with Hang Seng Bank</label> 
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" value="" checked>Option 1
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" value="">Option 2
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" value="">Option 2
												</label>
											</div>
										</div>

										<div class="form-group">
											<label>5. Does the Customer meet any of the following financial criteria</label> 
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<div class="row">
												<div class="col">
													<select multiple class="form-control" name="sellist1">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													</select>
													<button class="btn btn-link" type="submit">
														<img class="mr-1 mb-1" src="img/plus.svg" height="16" alt="Responsive image">Add
													</button>
												</div>
												<div class="col">
													<select multiple class="form-control" name="sellist2">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													</select>
													<button class="btn btn-link" type="submit">
														<img class="mr-1 mb-1" src="img/minus.svg" height="16" alt="Responsive image">Delete
													</button>
												</div>
											</div>
										</div>
										
										<div class="form-row">
											<label>6. Tax Identification questions(Please refer to CRS Self-Certification Form)</label> 
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<table class="table table-bordered mb-0">
												<thead>
													<tr>
														<th>Jurisdiction of Tax Residency</th>
														<th>Tax identification Number (TIN)</th>
														<th>Reason for no TIN</th>
														<th>Other reason for no TIN, provide details</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<select class="form-control">
																<option>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
															</select>
														</td>
														<td>
															<input class="form-control">
														</td>
														<td>
															<select class="form-control">
																<option>please select</option>
																<option>1</option>
																<option>2</option>
																<option>3</option>
															</select>
														</td>
														<td></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-link" type="submit">
												<img class="mr-1 mb-1" src="img/plus.svg" height="16" alt="Responsive image">Add
											</button>
											<button class="btn btn-link" type="submit">
												<img class="mr-1 mb-1" src="img/minus.svg" height="16" alt="Responsive image">Delete
											</button>
										</div>

										<button class="btn btn-primary" type="submit">Submit</button>

									</form>
								</div>
								<!--  Section A body end -->

								<!--  Section B body-->
								<div class="tab-pane fade" id="nav-B" role="tabpanel" aria-labelledby="nav-B-tab">
									<!-- <div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">BBB:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">EEE:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">FFF:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">FFF:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div> -->
									<form>
										<h4 class="card-title">Section title</h4>

										<div class="form-group">
											<label>1. Contact telephone number 1</label> 
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<div class="form-row">
												<div class="col-3">
													<input class="form-control" type="tel" value="852">
												</div>
												<div class="col-9">
													<input class="form-control" type="tel" value="34163455">
												</div>
											</div>
										</div>

										<div class="form-group">
											<label>2. Business Email Address 1</label> 
											<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
											<input class="form-control" type="email" value="le3215512315@hotmail.com">
										</div>

										<div class="d-flex justify-content-end">
											<button class="btn btn-primary mr-2" type="submit">previous</button>
											<button class="btn btn-primary" type="submit">Submit</button>
										</div>

									</form>
								</div>
								<!--  Section B body end -->

								<!--  Section C body -->
								<div class="tab-pane fade" id="nav-C" role="tabpanel" aria-labelledby="nav-C-tab">
									<!-- <div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">CCC:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">HHHH:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">JJJJ:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
									<div class="form-group w-50">
										<label for="recipient-name" class="col-form-label">rrrr:</label>
										<input type="text" class="form-control"   value="7629207500">
									</div> -->
								
									<form action="">
										<h4 class="card-title">Section title</h4>

										<p class="text-muted">Note 1: For a limited company, please provide information of Sole Director or each of the Directors (including the Chairman of the Meeting) who
										constituted quorum for the Said Meeting in accordance with the article of association or the constitutional documents of your business in this
										section.</p>

										<div class="row">
											<div class="form-group col">
												<label for="field">1. Related Question Sharing row (e.g. Last Name, First Name) </label>
												<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
												<input class="form-control">
											</div>
											<div class="form-group col">
												<label for="field">Related Question Sharing Row </label>
												<a href="#" data-toggle="modal" data-target="#commentModal"><img src="img/comment-empty.svg" height="14" alt="Responsive image"></a>
												<input class="form-control">
											</div>
										</div>

										<div class="form-row">
											<table class="table table-bordered mb-0">
												<thead>
													<tr>
														<th></th>
														<th>Full Name in English</th>
														<th>ID Document Type</th>
														<th>ID Document No</th>
													</tr>
												</thead>
												<tbody>
													<!-- 2 tr merage as 1 tr -->
													<tr>
														<td class="align-middle" rowspan="2">
															<input class="form-control" type="radio" name="optradio">
														</td>
														<td class="align-middle" rowspan="2">
															<input class="form-control">
														</td>
														<td>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">HKID
																</label>
															</div>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">Passport
																</label>
															</div>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">Travel Document
																</label>
															</div>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">Others
																</label>
															</div>
														</td>
														<td class="align-middle" rowspan="2">
															<input class="form-control">
														</td>
													</tr>
													<tr><td></td></tr>

													<!-- 2 tr merage as 1 tr -->
													<tr>
														<td class="align-middle" rowspan="2">
															<input class="form-control" type="radio" name="optradio">
														</td>
														<td class="align-middle" rowspan="2">
															<input class="form-control">
														</td>
														<td>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">HKID
																</label>
															</div>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">Passport
																</label>
															</div>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">Travel Document
																</label>
															</div>
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" value="">Others
																</label>
															</div>
														</td>
														<td class="align-middle" rowspan="2">
															<input class="form-control">
														</td>
													</tr>
													<tr><td></td></tr>

												</tbody>
											</table>
											<button class="btn btn-link" type="submit">
												<img class="mr-1 mb-1" src="img/plus.svg" height="16" alt="Responsive image">Add
											</button>
											<button class="btn btn-link" type="submit">
												<img class="mr-1 mb-1" src="img/minus.svg" height="16" alt="Responsive image">Delete
											</button>
										</div>

										<div class="d-flex justify-content-end">
											<button class="btn btn-primary mr-2" type="submit">previous</button>
											<button class="btn btn-primary" type="submit">Submit</button>
										</div>

									</form>
								</div>
								<!--  Section C body end -->

								<!--  Section D body -->
								<div class="tab-pane fade" id="nav-D" role="tabpanel" aria-labelledby="nav-D-tab">
									<div class="form-group w-50">
											<label for="recipient-name" class="col-form-label">DDD:</label>
											<input type="text" class="form-control"   value="7629207500">
									</div>
								</div>
								<!--  Section D body end -->

								<!--  Section E body -->
								<div class="tab-pane fade" id="nav-E" role="tabpanel" aria-labelledby="nav-E-tab">
									<div class="form-group w-50">
										<label for="recipient-name" class="col-form-label">EEE:</label>
										<input type="text" class="form-control"   value="7629207500">
									</div>
								</div>
								<!--  Section E body end -->

							</div>
						</div>
					</div>
					<!-- Application Form body end -->


				</div>
				<!-- content right end -->

			</div>
		</main>

		<!-- footer -->
		<footer class="row py-3">
			<div class="col-12 px-0 py-5 border-top">
				<!-- <p class="text-center">2019 - 2020 Hang Seng Staff Dashboard</p> -->
				<div class="col-12 d-flex">
					<span>© Hang Seng Bank Limited</span>
					<img class="ml-auto" src="img/hsbc_logo.svg">
				</div>
			</div>
		</footer>

	</div>




	<!-- question set comment Modal -->
	<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<h5 class="modal-title" id="commentModalLabel">Comment</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>
						<h6>Ben Wong <span class="float-right">31 Dec 2019 23:59</span></h6>
						<p>This customer cannot understand Chinese.</p>
					</div>
					<div class="mt-4">
						<h6>Andy Chau <span class="float-right">1 Jan 2020 23:59</span></h6>
						<p>Yes he can understand.</p>
					</div>
					<div class="mt-4">
						<h6>Write a comment</h6>
						<textarea class="form-control" id="comment-text" rows="5"></textarea>
					</div>
				</div>
				<div class="modal-footer border-top-0">
					<button type="button" class="btn btn-success px-4 m-auto " data-dismiss="modal" >Post</button>
				</div>
			</div>
		</div>
	</div>
	<!-- question set comment Modal end -->





</body>
</html>